@media screen and (max-width: 600px) {
  .component-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000a1c;
    border: #131313 solid 1px;
    width: 80%;
    height: fit-content;
    border-radius: 5pt;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    padding-bottom: vw;
    filter: drop-shadow(#000 0px 0px 20px);
    -webkit-filter: drop-shadow(#000 0px 0px 20px);
  }

  .component-contact-title {
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .component-contact-btn {
    background-color: darkred;
    border: rgb(169, 5, 5) solid 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5pt;
    font-size: 1rem;
    transition: all 0.5s;
    text-decoration: none;
    color: wheat;
  }
}

@media screen and (max-width: 768px) {
  .component-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000a1c;
    border: #131313 solid 1px;
    min-width: 60vw;
    border-radius: 5pt;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    filter: drop-shadow(#000 0px 0px 20px);
    -webkit-filter: drop-shadow(#000 0px 0px 20px);
  }

  .component-contact-title {
    color: rgb(190, 190, 190);
    font-size: 1rem;
    text-align: center;
    width: 80%;
  }

  .component-contact-btn {
    background-color: darkred;
    border: rgb(169, 5, 5) solid 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5pt;
    font-size: 0.6rem;
    transition: all 0.5s;
    text-decoration: none;
    color: wheat;
  }
}

@media screen and (min-width: 769px) {
  .component-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000a1c;
    border: #131313 solid 1px;
    min-width: 40vw;
    border-radius: 5pt;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    filter: drop-shadow(#000 0px 0px 20px);
  }

  .component-contact-title {
    color: rgb(182, 182, 182);
    font-size: 2rem;
    text-align: center;
  }

  .component-contact-btn {
    background-color: darkred;
    border: rgb(169, 5, 5) solid 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5pt;
    transition: all 0.5s;
    text-decoration: none;
    color: wheat;
  }
}

.component-contact-btn:hover {
  background-color: rgb(107, 1, 1);
  transition: all 0.5s;
}
