<header class="normal flex-row">
  <div class="header-div header-div-1 flex-row"></div>
  <div class="header-div header-div-2 flex-row">
    <img
      class="header-logo header-college-logo"
      src="./Public/College_Color.png"
      alt="logo"
    />
    <img
      class="header-logo header-association-logo"
      src="./../Public/PREFECTLOGO.png"
      alt="logo"
    />
  </div>
  <div class="header-div header-div-3 flex-row open-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 48 48"
    >
      <title>menu-8</title>
      <g fill="#F7F7F7">
        <rect
          x="2"
          y="22"
          width="44"
          height="4"
          rx="1"
          ry="1"
          fill="#F7F7F7"
        ></rect>
        <rect
          x="2"
          y="8"
          width="44"
          height="4"
          rx="1"
          ry="1"
          fill="#F7F7F7"
        ></rect>
        <rect
          x="2"
          y="36"
          width="44"
          height="4"
          rx="1"
          ry="1"
          fill="#F7F7F7"
        ></rect>
      </g>
    </svg>
  </div>
</header>
<div class="menu hidden">
  <link rel="stylesheet" href="./Styles/nav-menu.css" />
  <div class="close-btn flex-row-reverse">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 48 48"
    >
      <title>e-remove</title>
      <g fill="#F7F7F7">
        <path
          d="M36.728,8.443l-12.728,12.729L11.272,8.443c-.391-.391-1.024-.391-1.414,0l-1.414,1.414c-.391,.391-.391,1.024,0,1.414l12.728,12.729-12.728,12.729c-.39,.391-.39,1.024,0,1.414l1.414,1.414c.391,.391,1.024,.391,1.414,0l12.728-12.729,12.728,12.729c.391,.391,1.024,.391,1.414,0l1.414-1.414c.391-.391,.391-1.024,0-1.414l-12.728-12.729,12.728-12.729c.39-.391,.39-1.024,0-1.414l-1.414-1.414c-.391-.391-1.024-.391-1.414,0Z"
          fill="#F7F7F7"
        ></path>
      </g>
    </svg>
  </div>
  <div class="menu-logos flex-column">
    <div class="logo-wrapper flex-row">
      <img
        class="menu-logo menu-college-logo"
        src="./Public/msclogo.png"
        alt="logo"
      />
      <img
        class="menu-logo menu-association-logo"
        src="./../Public/PREFECTLOGO.png"
        alt="logo"
      />
    </div>
    <p class="since">Since 1927</p>
  </div>

  <div class="menu-links flex-column poppins-light">
    <a href="./index.html" class="menu-link active-link">Home</a>
    <a href="./Pages/Events.html" class="menu-link">Events</a>
    <a href="./Pages/About.html" class="menu-link">About Us</a>
    <a href="./Pages/History.html" class="menu-link">History</a>
    <a href="./Pages/Prefects_Code.html" class="menu-link"> Prefects' Code </a>
    <a href="./Pages/Contact.html" class="menu-link">Contact Us</a>
    <a href="./events/luminora.html" class="menu-link menu-link-luminora"
      >Luminora '25</a
    >
  </div>
  <script src="./Scipts/menu.js"></script>
</div>
