body {
  height: 100%;
  width: 100%;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  min-height: 50%;
  max-height: auto;
  align-items: center;
  padding-bottom: 6vh;
  animation: auto linear revealnorm both;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
  -webkit-animation: auto linear revealnorm both;
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 768px) {
  .intro-div {
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }

  .intro-title {
    font-size: 5rem;
    margin-top: -4rem;
    filter: drop-shadow(black 0px 0px 10px);
    -webkit-filter: drop-shadow(black 0px 0px 10px);
  }

  .navigation-guide {
    margin-top: -5vh;
    filter: drop-shadow(black 0px 0px 4px);
    -webkit-filter: drop-shadow(black 0px 0px 4px);
  }

  .intro-para {
    align-items: center;
    justify-content: center;
  }

  .intro-para p {
    margin-top: 3rem;
    padding-top: 2vh;
    border-top: darkred solid 1px;
    border-top-width: 0.1rem;
    box-shadow: darkred 0px -10px 15px -10px;
    font-size: 4vw;
    width: 80%;
    text-align: center;
  }

  .learn-more-btn {
    background-color: darkred;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 5pt;
    transition: all 0.5s;
    text-decoration: none;
    color: wheat;
  }

  .learn-more-btn:hover {
    background-color: rgb(107, 1, 1);
    transition: all 0.5s;
  }

  .vision {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .vision-image {
    border-radius: 20px 20px 20px 20px;
    width: 80%;
    aspect-ratio: 2/1.5;
    background-color: black;
    background-image: url("./../Public/Backgrounds/Vision.jpeg");
    box-shadow: #525252 0px 0px 10pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
  }

  .vision-wrapper {
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    flex-direction: row;
  }

  .vision-title {
    font-size: 4vh;
    color: crimson;
    filter: drop-shadow(crimson 0px 0px 50px);
    text-wrap: wrap;
    -webkit-filter: drop-shadow(crimson 0px 0px 50px);
  }

  .vision-text {
    font-size: 2vh;
    width: 40vw;
    text-wrap: wrap;
  }

  .mission {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .mission-image {
    border-radius: 20px 20px 20px 20px;
    width: 80%;
    aspect-ratio: 2/1.5;
    background-color: black;
    background-image: url("./../Public/Backgrounds/Mission.jpeg");
    box-shadow: #525252 0px 0px 10pt;
    background-blend-mode: screen;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
  }

  .mission-wrapper {
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    flex-direction: row-reverse;
  }

  .mission-title {
    font-size: 4vh;
    text-align: left;
    color: crimson;
    filter: drop-shadow(crimson 0px 0px 50px);
    -webkit-filter: drop-shadow(crimson 0px 0px 50px);
    text-wrap: wrap;
    width: 30%;
  }

  .mission-text {
    font-size: 2vh;
    width: 50%;
    text-wrap: wrap;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .intro-div {
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }

  .intro-title {
    font-size: 5rem;
    margin-top: -4rem;
    filter: drop-shadow(black 0px 0px 10px);
    -webkit-filter: drop-shadow(black 0px 0px 10px);
  }

  .navigation-guide {
    margin-top: -5vh;
    filter: drop-shadow(black 0px 0px 4px);
    -webkit-filter: drop-shadow(black 0px 0px 4px);
  }

  .intro-para {
    align-items: center;
    justify-content: center;
  }

  .intro-para p {
    margin-top: 3rem;
    padding-top: 2vh;
    border-top: darkred solid 1px;
    border-top-width: 0.1rem;
    box-shadow: darkred 0px -10px 15px -10px;
    font-size: 1rem;
    width: 30%;
    text-align: center;
  }

  .learn-more-btn {
    background-color: darkred;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 5pt;
    transition: all 0.5s;
    text-decoration: none;
    color: wheat;
  }

  .learn-more-btn:hover {
    background-color: rgb(107, 1, 1);
    transition: all 0.5s;
  }

  .vision {
    width: 100%;
    height: 0%;
    align-items: start;
  }

  .vision-image {
    border-radius: 0px 20px 20px 0px;
    width: 60%;
    height: 50vh;
    background-color: black;
    background-image: url("./../Public/Backgrounds/Vision.jpeg");
    background-position: centers;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
  }

  .vision-wrapper {
    padding: 2vw;
    align-items: start;
    justify-content: start;
    width: auto;
    height: max-content;
  }

  .vision-title {
    font-size: 4vh;
    color: crimson;
    filter: drop-shadow(crimson 0px 0px 50px);
    -webkit-filter: drop-shadow(crimson 0px 0px 50px);
  }

  .vision-text {
    font-size: 2vh;
    width: 30vw;
    text-wrap: wrap;
  }

  .mission {
    width: 100%;
    height: 0%;
    align-items: start;
  }

  .mission-image {
    border-radius: 20px 0px 0px 20px;
    width: 60%;
    height: 50vh;
    aspect-ratio: 1/1;
    background-color: black;
    background-image: url("./../Public/Backgrounds/Mission.jpeg");
    background-blend-mode: screen;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -ms-border-radius: 20px 0px 0px 20px;
    -o-border-radius: 20px 0px 0px 20px;
  }

  .mission-wrapper {
    padding: 2vw;
    align-items: end;
    justify-content: end;
    width: auto;
    height: max-content;
  }

  .mission-title {
    font-size: 4vh;
    color: crimson;
    filter: drop-shadow(crimson 0px 0px 50px);
    -webkit-filter: drop-shadow(crimson 0px 0px 50px);
  }

  .mission-text {
    font-size: 2vh;
    width: 30vw;
    text-align: right;
    text-wrap: wrap;
  }

  /* HIERACHY */
  .hierachy {
    margin-top: 8rem;
  }

  .hierachy-image {
    background-color: #00000d;
    background: url(./../Public/Backgrounds/Group\ Photo.jpeg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    width: 100%;
    margin-top: 0;
    align-items: center;
    justify-content: start;
  }

  .hierachy-title {
    font-size: 3rem;
    filter: drop-shadow(black 0px 0px 10px);
    -webkit-filter: drop-shadow(black 0px 0px 10px);
  }

  .hierarchy-description {
    margin-top: 5rem;
    margin-bottom: -10rem;
    padding: 1rem;
    width: 40%;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1rem;
    border-top: darkred solid 1px;
    border-top-width: 0.1rem;
    box-shadow: darkred 0px -10px 15px -10px;
  }

  .h-title-mega {
    font-size: 14rem;
    z-index: -10;
    margin-bottom: -13rem;
    font-weight: 600;
  }

  .h-wrapper {
    width: fit-content;
    min-height: 50rem;
    height: auto;
    flex-wrap: wrap;
    margin: 5rem;
    justify-content: center;
    padding: 1rem;
    z-index: 10;
    background-image: linear-gradient(
      to top,
      #0000004f,
      #0f0e0e45,
      #1817175d,
      #201f1e45,
      #28282648
    );
    border: #25252573 solid 1px;
    backdrop-filter: blur(10rem);
    -webkit-backdrop-filter: blur(10rem);
    border-radius: 12pt;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    -ms-border-radius: 12pt;
    -o-border-radius: 12pt;
  }

  .h-card {
    width: 25vw;
    height: 30rem;
    border-radius: 8pt;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    -ms-border-radius: 8pt;
    -o-border-radius: 8pt;
    clip-path: fill-box;
    z-index: 10;
    margin-bottom: 2rem;
    animation: auto linear revealcard both;
    animation-timeline: view();
    animation-range: entry 50% cover 0%;
    -webkit-animation: auto linear revealcard both;
  }

  .h-avatar {
    margin: 1rem;
    background-image: "";
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 80%;
    border-radius: 8pt;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    -ms-border-radius: 8pt;
    -o-border-radius: 8pt;
  }

  .patron-avatar {
    background-image: url(./../Public/avatars/patron.jpg);
    background-size: 70rem;
  }

  .mic1-avatar {
    background-image: url(./../Public/avatars/patron.jpg);
  }

  .hp-avatar {
    background-image: url(./../Public/avatars/ruvinda.png);
  }

  .dhp-avatar {
    background-image: url(./../Public/avatars/dulaj.png);
  }

  .exsec-avatar {
    background-image: url(./../Public/avatars/shamika.jpg);
  }

  .gensec-avatar {
    background-image: url(./../Public/avatars/eshel.jpg);
  }

  .tres-avatar {
    background-image: url(./../Public/avatars/nihara.jpg);
  }

  .dic1-avatar {
    background-image: url(./../Public/avatars/thilina.jpg);
  }

  .dic2-avatar {
    background-image: url(./../Public/avatars/Chamathka.jpg);
  }

  .dic3-avatar {
    background-image: url(./../Public/avatars/dinesha.jpg);
  }

  .med1-avatar {
    background-image: url(./../Public/avatars/gavika.jpg);
  }

  .med2-avatar {
    background-image: url(./../Public/avatars/hansaka.jpg);
  }

  .h-name {
    font-size: 1.5rem;
    margin: 0;
  }

  .h-title {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .senior-group {
    width: 100%;
    margin-left: 5%;
    align-items: start;
    font-size: 1rem;
  }

  .group-section-title {
    font-size: 2rem;
    border-bottom: darkred solid 1px;
    border-bottom-width: 0.1rem;
    box-shadow: darkred 0px 10px 25px -10px;
  }

  .senior-group-ul {
    list-style: square;
    margin-right: 4vw;
  }

  .senior-li {
    margin-top: 0.5rem;
  }

  .senior-group {
    justify-content: center;
  }

  .senior-group-pic {
    background-image: url(./../Public/Backgrounds/Seniors.jpeg);
    background-position: center;
    background-size: cover;
    width: 60vw;
    aspect-ratio: 2/1;
    border-radius: 12pt;
    margin: 2vw;
    -webkit-border-radius: 12pt;
    -moz-border-radius: 12pt;
    -ms-border-radius: 12pt;
    -o-border-radius: 12pt;
    justify-content: end;
    align-items: end;
    border: #eeeeee3f solid 1px;
    box-shadow: #eeeeee34 0px 0px 10px 0px;
  }

  .img-zoom-icon {
    background-color: #00000d66;
    backdrop-filter: blur(1rem);
    border-radius: 100pt;
    -webkit-border-radius: 100pt;
    -moz-border-radius: 100pt;
    -ms-border-radius: 100pt;
    -o-border-radius: 100pt;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    aspect-ratio: 1/1;
    -webkit-backdrop-filter: blur(1rem);
    margin: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .img-zoom-icon:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 1;
  }

  .junior-group-ul {
    -webkit-column-count: 3;
    column-count: 3;
    width: 90vw;
  }
}

.contact-component {
  align-items: center;
  justify-content: center;
}

.landing-image {
  background-color: #00000d;
  height: 100vh;
  width: 100%;
  margin-top: 0;
}

.landing-vid {
  height: 100vh;
  width: 100%;
  margin-top: 0;
  object-fit: cover;
  position: absolute;
  filter: saturate(2) brightness(1);
  -webkit-filter: saturate(2) brightness(1);
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-out {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

/* .h-wrapper .h-card {
  animation: animate-in linear forwards, animate-out linear forwards;
  animation-timeline: view();
  animation-range: entry, exit;
  -webkit-animation: animate-in linear forwards, animate-out linear forwards;
} */
