body {
  height: 100%;
  width: 100%;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  min-height: 50%;
  max-height: auto;
  align-items: center;
  padding-bottom: 6vh;
  animation: auto linear revealnorm both;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
}

.intro-div {
  width: fit-content;
  height: fit-content;
  margin-top: 8vh;
  padding: 2vw;
  align-items: center;
  justify-content: center;
}

.intro-title {
  font-size: 5rem;
}

.navigation-guide {
  margin-top: -5vh;
}

.intro-para {
  align-items: center;
  justify-content: center;
}

.intro-para p {
  font-size: 1.5vh;
  width: 30%;
  text-align: center;
}

.learn-more-btn {
  background-color: darkred;
  padding: 1.3vh 2vw 1.3vh 2vw;
  border-radius: 5pt;
  transition: all 0.5s;
  text-decoration: none;
  color: wheat;
}

.learn-more-btn:hover {
  background-color: rgb(107, 1, 1);
  transition: all 0.5s;
}

.vision {
  width: 100%;
  height: 0%;
  align-items: start;
}

.vision-image {
  width: 80%;
  height: 50vh;
  aspect-ratio: 1/1;
  background-color: black;
  margin-left: -20vw;
  background-image: url("./../Public/pic-placeholder.jpg");
  background-blend-mode: screen;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.vision-wrapper {
  padding: 2vw;
  align-items: start;
  justify-content: start;
  width: auto;
  height: max-content;
  margin-left: -5vw;
}

.vision-title {
  margin-left: -3vw;
  font-size: 4vh;
  color: crimson;
  filter: drop-shadow(crimson 0px 0px 50px);
}

.vision-text {
  font-size: 2vh;
  width: 20vw;
  text-wrap: wrap;
}

.mission {
  width: 100%;
  height: 0%;
  align-items: start;
}

.mission-image {
  width: 80%;
  height: 50vh;
  aspect-ratio: 1/1;
  background-color: black;
  margin-right: -20vw;
  background-image: url("./../Public/pic-placeholder.jpg");
  background-blend-mode: screen;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  transform: rotateX(180deg);
}

.mission-wrapper {
  padding: 2vw;
  align-items: end;
  justify-content: end;
  width: auto;
  height: max-content;
  margin-left: -5vw;
}

.mission-title {
  margin-right: -4vw;
  font-size: 4vh;
  color: crimson;
  filter: drop-shadow(crimson 0px 0px 50px);
}

.mission-text {
  font-size: 2vh;
  width: 20vw;
  text-align: right;
  text-wrap: wrap;
}

.contact-component {
  align-items: center;
  justify-content: center;
}

.section-contact {
  min-height: 20vh;
}

.contact-options {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 10;
}

.contact-option-title {
  margin: 0%;
  font-size: 13pt;
}

.section-description {
  color: #bfbfbf;
  margin-top: 0;
}

.contact-option-card {
  border: solid 1px crimson;
  border-radius: 12px;
  padding: 2vw;
  background-color: #3b3b3b41;
  background-color: rgba(175, 175, 175, 0.124);
  border: #eeeeee14 solid 1px;
  box-shadow: #000000 1px 1px 10px;
  align-items: left;
  justify-content: space-between;
  margin: 2vw;
  min-width: 10vw;
  max-width: 12vw;
  transition: all 0.5s;
}

.contact-card-wrapper-1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  padding-top: 8vh;
}

.contact-option-card:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.contact-option-text {
  text-align: left;
  font-size: 10pt;
  margin-top: 0;
}

.contact-card-link {
  text-decoration: none;
  text-align: left;
  letter-spacing: 1px;
  transition: all 0.5s;
  color: darkred;
}

.contact-card-link:hover {
  color: crimson;
  transition: all 0.5s;
  filter: drop-shadow(crimson 0px 0px 10px);
}

#Form-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: auto;
  margin-top: 2vh;
}

.contact-form {
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.form-element-wrapper {
  width: 60%;
  padding: 1%;
}

.form-label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.contact-form-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  backdrop-filter: blur(2rem);
  background-color: rgba(175, 175, 175, 0.124);
  border: #eeeeee14 solid 1px;
  box-shadow: #000000 1px 1px 10px;
  margin-bottom: 10px;
  resize: vertical;
  transition: all 0.5ms;
}

.contact-form-input:focus {
  outline: none;
  transition: all 0.5ms;
  outline: 1px solid crimson;
  backdrop-filter: blur(2rem);
  border: #eeeeee14 solid 1px;
  box-shadow: darkred 1px 1px 10px;
}

.contact-form-input:valid {
  outline: #2f8d46 1px solid;
  box-shadow: #2f8d46a9 1px 1px 10px;
}

.contact-form-btn {
  padding: 10px 20px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 30%;
  margin-top: 2vh;
  outline: none;
  background-color: #ffd90039;
  backdrop-filter: blur(3rem);
  border: #ffd90068 solid 1px;
  box-shadow: #000000 1px 1px 10px;
  transition: all 0.5s;
}

.contact-form-btn:hover {
  background-color: #ffd90066;
  backdrop-filter: blur(3rem);
  border: #eeeeee14 solid 1px;
  box-shadow: #ffd900 1px 1px 10px;
  transition: all 0.5s;
}
