body {
  height: 100%;
  width: 100%;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  min-height: 50%;
  width: 100%;
  max-height: auto;
  align-items: center;
  padding-bottom: 6vh;
  animation: auto linear revealnorm both;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
}

.landing-image {
  background-image: url(https://scontent.fcmb11-1.fna.fbcdn.net/v/t39.30808-6/465788965_1317592966311502_6263783421170317922_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeGBI6aYgvHp6nv0LqeggTDBx3K_iRQntsTHcr-JFCe2xBRKCTkGKdDBoDX8xiyV6EQWEWzC2UhNz9cULrdoSoyq&_nc_ohc=EeFtCR3ei6MQ7kNvgEmSthQ&_nc_zt=23&_nc_ht=scontent.fcmb11-1.fna&_nc_gid=ALh9oYCi5X6K_e6dQ9JNCEF&oh=00_AYDb5mJYgUYN1soVR9fP5pRf2u9QiJRI3DeoTMsr6xtiig&oe=678CA56C);
  background-position: center;
  background-repeat: no-repeat;
  background-size: "";
  background-color: #00000d;
  height: 100vh;
  width: 100%;
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .intro-div {
    width: fit-content;
    height: fit-content;
    margin-top: 8vh;
    padding: 2vw;
    align-items: center;
    justify-content: center;
  }

  .intro-title {
    font-size: 5rem;
    margin-top: 4rem;
    filter: drop-shadow(black 0px 0px 10px);
    -webkit-filter: drop-shadow(black 0px 0px 10px);
  }

  .navigation-guide {
    margin-top: -5vh;
  }

  .contact-component {
    align-items: center;
    justify-content: center;
  }

  .events-covered {
    width: 80%;
    position: relative;
    left: 10%;
    padding-bottom: 0;
  }

  .event-container {
    width: auto;
    height: 400px;
    overflow-y: hidden;
    overflow-x: unset;
  }

  .event-card {
    margin: 2vh;
    background-color: #00000d;
    background: url("./../Public/pic-placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 711.11px;
    aspect-ratio: 16/9;
    border-radius: 12px;
    filter: drop-shadow(#000 0px 0px 10px);
    padding: 2vh;
  }

  .event-card h2 {
    position: relative;
    top: 80%;
    justify-content: space-between;
    font-weight: 500;
  }

  .event-card-learn-more-btn {
    font-size: 2vh;
    background-color: rgba(139, 0, 0, 0.39);
    border: darkred solid 1px;
    padding: 1vh 2vw;
    border-radius: 12px;
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 10vh;
    transition: all 0.5s;
    backdrop-filter: blur(1rem);
  }

  .event-card-learn-more-btn:hover {
    background-color: rgb(107, 1, 1);
    transition: all 0.5s;
  }

  .coming-soon {
    backdrop-filter: blur(1rem);
    position: absolute;
    margin: 0;
    color: lightgreen;
    background-color: rgba(144, 238, 144, 0.202);
    width: fit-content;
    padding: 0.5vh 0.5vw;
    border: rgba(144, 238, 144, 0.659) solid 1px;
    filter: drop-shadow(rgba(144, 238, 144, 0.324) 0px 0px 2px);
    border-radius: 5pt;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
  }

  .hidden {
    display: none;
  }

  .event-card-luminora {
    background-color: #00000d;
    background: url("./../Public/luminora-event.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .event-card-feedfire24 {
    background-color: #00000d;
    background: url("./../Public/feedfire24-event.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
