@media screen and (min-width: 769px) {
  .menu {
    position: fixed;
    display: "";
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #00000d;
    top: 0%;
    left: 0%;
    z-index: 25;
    transition: all 1s;
    justify-content: space-evenly;
  }

  .menu-pattern {
    position: absolute;
    opacity: 80%;
    z-index: -1;
  }

  .menu-open-anim {
    animation: menuOpen 0.5s ease-in 1;
  }

  .menu-close-anim {
    animation: menuClose 0.5s ease-in 1;
  }

  .close-btn {
    position: absolute;
    top: 2%;
    left: 96.5%;
    padding-top: 1.5vh;
    cursor: pointer;
  }

  .menu-links {
    height: 100%;
    width: 20rem;
    align-items: end;
    justify-content: center;
  }

  .menu-link {
    font-size: 1.5rem;
    padding: 1.2%;
    text-decoration: none;
    transition: all 0.5s;
    color: grey;
  }

  .menu-link:hover {
    color: white;
    transition: all 0.5s;
    font-weight: 600;
    filter: drop-shadow(rgb(255, 255, 255) 0pt 0pt 10pt);
  }

  .active-link {
    color: white;
    font-weight: 600;
  }

  .menu-link-luminora {
    background: linear-gradient(45deg, #9c8200, #ffd700, #b49902, #f6edbe);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Arcane Nine";
  }

  .menu-link-luminora:hover {
    background: linear-gradient(90deg, #9c8200, #ffd700, #b49902, #f6edbe);
    font-weight: 500;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(#ffd700 0pt 0pt 10pt);
  }

  .open-menu-btn-anim {
    transition: all 0.5s;
    transform: scaleY(0);
  }

  .close-menu-btn-anim {
    transition: all 0.5s;
  }

  .menu-logos {
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    opacity: 0.5;
  }

  .since {
    font-size: 1.7rem;
    margin: 0;
  }

  .menu-logo {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }

  .menu-association-logo {
    height: 20vw;
  }

  .menu-college-logo {
    height: 20vw;
    margin-top: -0.5rem;
  }

  @keyframes menuOpen {
    from {
      opacity: 0;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      border-bottom-left-radius: 100%;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menuClose {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000d;
    top: 0%;
    left: 0%;
    z-index: 25;
    transition: all 1s;
    justify-content: space-evenly;
  }

  .menu-pattern {
    position: absolute;
    opacity: 10%;
    z-index: -1;
  }

  .menu-open-anim {
    animation: menuOpen 0.5s ease-in 1;
  }

  .menu-close-anim {
    animation: menuClose 0.5s ease-in 1;
  }

  .close-btn {
    position: absolute;

    top: 3%;
    left: 95%;
    cursor: pointer;
  }

  .menu-links {
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-link {
    font-size: 1rem;
    padding: 1.2%;
    text-decoration: none;
    transition: all 0.5s;
    color: grey;
  }

  .menu-link:hover {
    color: white;
    transition: all 0.5s;
    font-weight: 600;
    filter: drop-shadow(rgb(255, 255, 255) 0pt 0pt 10pt);
  }

  .active-link {
    color: white;
    font-weight: 600;
  }

  .menu-link-luminora {
    background: linear-gradient(45deg, #9c8200, #ffd700, #b49902, #f6edbe);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Arcane Nine";
  }

  .menu-link-luminora:hover {
    background: linear-gradient(90deg, #9c8200, #ffd700, #b49902, #f6edbe);
    font-weight: 500;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(#ffd700 0pt 0pt 10pt);
  }

  .open-menu-btn-anim {
    transition: all 0.5s;
    transform: scaleY(0);
  }

  .close-menu-btn-anim {
    transition: all 0.5s;
  }

  .menu-logos {
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    opacity: 0.5;
  }

  .since {
    font-size: 1rem;
    margin: 0;
  }

  .menu-logo {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }

  .menu-association-logo {
    height: 20vw;
  }

  .menu-college-logo {
    height: 20vw;
    margin-top: -0.5rem;
  }

  @keyframes menuOpen {
    from {
      opacity: 0;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      border-bottom-left-radius: 100%;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menuClose {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000d;
    top: 0%;
    left: 0%;
    z-index: 25;
    transition: all 1s;
  }

  .menu-pattern {
    position: absolute;
    opacity: 10%;
    z-index: -1;
  }

  .menu-open-anim {
    animation: menuOpen 0.5s ease-in 1;
  }

  .menu-close-anim {
    animation: menuClose 0.5s ease-in 1;
    -webkit-animation: menuClose 0.5s ease-in 1;
  }

  .close-btn {
    position: absolute;
    top: 4%;
    left: 90%;
    cursor: pointer;
  }

  .menu-links {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .menu-link {
    font-size: 1rem;
    padding: 1.2%;
    text-decoration: none;
    transition: all 0.5s;
    color: grey;
  }

  .menu-link:hover {
    color: white;
    transition: all 0.5s;
    font-weight: 600;
    filter: drop-shadow(rgb(255, 255, 255) 0pt 0pt 10pt);
  }

  .active-link {
    color: white;
    font-weight: 600;
  }

  .menu-link-luminora {
    background: linear-gradient(45deg, #9c8200, #ffd700, #b49902, #f6edbe);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Arcane Nine";
  }

  .menu-link-luminora:hover {
    background: linear-gradient(90deg, #9c8200, #ffd700, #b49902, #f6edbe);
    font-weight: 500;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(#ffd700 0pt 0pt 10pt);
  }

  .open-menu-btn-anim {
    transition: all 0.5s;
    transform: scaleY(0);
  }

  .close-menu-btn-anim {
    transition: all 0.5s;
  }
  @keyframes menuOpen {
    from {
      opacity: 0;
      transform: translateX(100%) translateY(-20%);
      -webkit-transform: translateX(100%) translateY(-20%);
      -moz-transform: translateX(100%) translateY(-20%);
      -ms-transform: translateX(100%) translateY(-20%);
      -o-transform: translateX(100%) translateY(-20%);
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menuClose {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }
}
